{% extends "base.html" %}

{% block content %}
    <div class="grid">
        {% for produto in produtos %}
            <div class="card shadow-sm">
                {% if produto.imagem %}
                    <a href="{% url 'detalhe_produto' produto.id %}">
                        <img src="{{ produto.imagem.url }}" alt="{{ produto.titulo }}">
                    </a>
                {% endif %}
                <div class="p-2">
                    <h5 class="mt-2" style="font-size: 1rem;">{{ produto.titulo }}</h5>
                    <p class="text-muted small mb-1">{{ produto.publico }} | {{ produto.tipo }}</p>
                    <p class="preco">R$ {{ produto.preco }}</p>
                    
                    <a href="https://wa.me/5531988377052?text=Olá! Vi o produto '{{ produto.titulo }}' no seu Bazar e gostaria de saber se ainda está disponível." 
                       target="_blank" 
                       class="btn btn-success w-100 fw-bold shadow-sm">
                       <i class="bi bi-whatsapp"></i> Comprar
                    </a>
                </div>
            </div>
        {% empty %}
            <div class="text-center w-100">
                <p class="alert alert-warning">Nenhum item encontrado nesta categoria.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}